a {
	text-decoration:none;

}

a:hover {
	background-color:white;
	color:red;
}

a, body, td {
	font-family: sans-serif;
	font-size: 10pt;
	background-color: #ffffd9;
}

h1, .h1 {
	font-family:sans-serif;
	font-size: 14pt;
}

img {
	padding:10px,10px,10px,10px;
}
